body { margin: 0; background: #050505; color: #fff; font-family: sans-serif; }
#grid-jogos { display: grid; grid-template-columns: repeat(2, 1fr); gap: 20px; padding: 20px; justify-items: center; }

.card { background: #111; padding: 10px; border-radius: 12px; border: 1px solid #222; width: 155px; cursor: pointer; }
.card img { width: 150px; height: 300px; object-fit: cover; object-position: center; border-radius: 8px; display: block; margin: 0 auto; }
.card p { margin: 10px 0 0 0; text-align: center; font-size: 0.85rem; color: #aaa; }

.hidden { display: none; }
#container-jogo { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000; z-index: 9999; }
#btn-fechar { width: 100%; height: 50px; background: #111; color: #ff4757; border: none; font-weight: bold; cursor: pointer; }
#iframe-wrapper { width: 100%; height: calc(100% - 50px); }
iframe { width: 100%; height: 100%; border: none; }